body {
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


/* --- --- BARRA LATERAL --- --- */

.barra-lateral {
    background: #262a34;
    color: #fff;
    min-width: 200px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}


/* --- LOGO --- */

.barra-lateral .logo {
    background: #0275db;
    margin-bottom: 2px;
}

.barra-lateral .logo h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}


/* --- MENU --- */

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background: #35ae6b;
    text-decoration: none;
}

.activo{
    background: #35ae6b;
    text-decoration: none;
}


/* --- --- MAIN --- --- */

.main {
    padding-top: 30px;
}

/* --- --- MODALS --- --- */
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* --- --- MEDIAQUERIES --- --- */

@media screen and (max-width: 1199px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .logo {
        display: none;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .main .widget form button {
        width: 100%;
    }
}