{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <title>Encuestas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Barra lateral o Menú -->
            <div class="barra-lateral col-12 col-md-auto">
                <div class="logo px-4">
                </div>
                <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido Admin</h5>

                    {% else %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido: {{user.first_name}}</h5>
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize h6">
                        {{perfil_usuario.descripcion_perfil}}</h5>
                    {% endif %}
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <a href="{% url 'index' %}"><i class="fas fa-users fa-lg pr-xl-4"></i><span>Usuarios</span></a>
                    {% endif %}
                    <a href="{% url 'encuestas' %}" class="activo"><i
                            class="fas fa-address-book fa-lg pr-xl-4"></i><span>Encuestas</span></a>
                    <a href="{% url 'preguntas' %}"><i
                            class="far fa-question-circle fa-lg pr-xl-4"></i><span>Preguntas</span></a>
                    <a href="{% url 'encuestas_realizadas' %}"><i
                            class="fas fa-clipboard-list fa-lg pr-xl-4"></i><span>Encuestas Completadas</span></a>
                    <a href="" data-toggle="modal" data-target="#modal_cerrar_sesion"><i
                            class="fas fa-sign-out-alt fa-lg pr-xl-4"></i><span>Salir</span></a>
                </nav>
            </div>


            <main class="main col">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}>
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                {% endfor %}
                {% endif %}

                <!-- Funciones -->
                {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                <button type="button" class="btn btn-primary mb-5" data-toggle="modal"
                    data-target="#modal-agregar-encuesta">Agregar Encuesta
                </button>
                {% endif %}
                <!-- Listar Encuestas -->
                <div class="card">
                    <div class="card-body">
                        <table id="tabla_encuestas" class="table table-bordered dt-responsive nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>Titulo Encuesta</th>
                                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                                    <th>Opciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for encuesta in encuestas %}
                                <tr>
                                    <td>{{ encuesta.titulo_encuesta }}</td>
                                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                                    <td>
                                        <a href="#" onclick="cargar_encuesta_id({{encuesta.id}})" data-toggle="modal"
                                            data-target="#modal_modificar_encuesta"
                                            class="badge badge-primary">Modificar</a>
                                        <a href="encuestas/eliminar/{{encuesta.id}}"
                                            class="badge badge-danger">Eliminar</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Modal de Creacion de Encuesta -->
    <div class="modal fade" id="modal-agregar-encuesta" tabindex="-1" role="dialog"
        aria-labelledby="modal-agregar-encuesta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Crear nueva encuesta</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form_agregaencuesta" action="{% url 'crear_encuesta' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-12 my-2 px-sm-4">
                                <label for="titulo_encuesta">Título Encuesta</label>
                                <input type="text" class="form-control" placeholder="" name="titulo_encuesta"
                                    id="titulo_encuesta" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Modificar Encuesta -->
    <div aria-hidden="true" aria-labelledby="modal_modificar_encuesta" class="modal fade" id="modal_modificar_encuesta"
        role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Modificar encuesta</h5>
                    <button aria-label="Cerrar" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'modificar_encuesta' %}" id="form_modificar_encuesta" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_encuesta" id="id_encuesta" value="">
                        <div class="form-group row">
                            <div class="col-12 my-2 px-sm-4">
                                <label for="nombre_modificar">Nombre de encuesta</label>
                                <input class="form-control" id="nombre_modificar" name="nombre_modificar"
                                    placeholder="Nombre Encuesta" required type="text">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_cerrar_sesion">¿Cerrar Sesion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/index.js' %} "></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //Configurar DataTable de Encuestas
            $('#tabla_encuestas').DataTable({
                "paging": true,
                "responsive": true,
                "ordering": true,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            })
        });

        function cargar_encuesta_id(id_encuesta) {
            $("#id_encuesta").val(id_encuesta)

            $.ajax({
                url: "api/encuestas/" + id_encuesta,
                type: 'GET',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log(data)
                    $("#nombre_modificar").val(data.titulo_encuesta)
                }
            })
        }

        function CerrarSesion() {
            window.location.replace("{% url 'cerrar_sesion' %}");
        }
    </script>
</body>

</html>