{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <!--
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    -->

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <title>Encuestas Completadas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Barra lateral o Menú -->
            <div class="barra-lateral col-12 col-md-auto">
                <div class="logo px-4">
                </div>
                <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido Admin</h5>
                    {% else %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido: {{user.first_name}}</h5>
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize h6">
                        {{perfil_usuario.descripcion_perfil}}</h5>
                    {% endif %}
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <a href="{% url 'index' %}"><i class="fas fa-users fa-lg pr-xl-4"></i><span>Usuarios</span></a>
                    {% endif %}
                    <a href="{% url 'encuestas' %}"><i
                            class="fas fa-address-book fa-lg pr-xl-4"></i><span>Encuestas</span></a>
                    <a href="{% url 'preguntas' %}"><i
                            class="far fa-question-circle fa-lg pr-xl-4"></i><span>Preguntas</span></a>
                    <a href="{% url 'encuestas_realizadas' %}" class="activo"><i
                            class="fas fa-clipboard-list fa-lg pr-xl-4"></i><span>Encuestas Completadas</span></a>
                    <a href="" data-toggle="modal" data-target="#modal_cerrar_sesion"><i
                            class="fas fa-sign-out-alt fa-lg pr-xl-4"></i><span>Salir</span></a>
                </nav>
            </div>

            <main class="main col">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}>
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                {% endfor %}
                {% endif %}

                <!-- Listar Encuestas -->
                <div class="card">
                    <div class="card-body">
                        <table id="tabla_encuestas" class="table table-bordered dt-responsive nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titulo Encuesta</th>
                                    <th>Encuestador</th>
                                    <th>Encuestado</th>
                                    <th>Ciudad</th>
                                    <th>Direccion</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


            </main>
        </div>
    </div>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_cerrar_sesion">¿Cerrar Sesion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!--
    <script src="{% static 'js/datatables.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/index.js' %} "></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tabla_encuestas').DataTable({
                serverSide: true,
                ajax: "/api/encuestas_realizadas/?format=datatables",
                columns: [
                    { "data": "id", "searchable": true },
                    { "data": "encuesta.titulo_encuesta", "searchable": true },
                    { "data": "fk_encuestador.first_name", "searchable": true },
                    { "data": "fk_encuestado.rut", "searchable": true },
                    { "data": "fk_encuestado.ciudad", "searchable": true },
                    { "data": "fk_encuestado.direccion", "searchable": true },
                ],
                ordering: true,
                paging: true,
                info: false,
                responsive: true,
                fixedColumns: true,

                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

        });

        function CerrarSesion() {
            window.location.replace("{% url 'cerrar_sesion' %}");
        }
    </script>
</body>

</html>