{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />
    <title>Usuarios</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Barra lateral o Menú -->
            <div class="barra-lateral col-12 col-md-auto">
                <div class="logo px-4">
                </div>
                <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido Admin</h5>
                    {% else %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido: {{user.first_name}}</h5>
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize h6">
                        {{perfil_usuario.descripcion_perfil}}</h5>
                    {% endif %}
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <a href="{% url 'index' %}" class="activo"><i
                            class="fas fa-users fa-lg pr-xl-4"></i><span>Usuarios</span></a>
                    {% endif %}
                    <a href="{% url 'encuestas' %}"><i
                            class="fas fa-address-book fa-lg pr-xl-4"></i><span>Encuestas</span></a>
                    <a href="{% url 'preguntas' %}"><i
                            class="far fa-question-circle fa-lg pr-xl-4"></i><span>Preguntas</span></a>
                    <a href="{% url 'encuestas_realizadas' %}"><i
                            class="fas fa-clipboard-list fa-lg pr-xl-4"></i><span>Encuestas Completadas</span></a>
                    <a href="" data-toggle="modal" data-target="#modal_cerrar_sesion"><i
                            class="fas fa-sign-out-alt fa-lg pr-xl-4"></i><span>Salir</span></a>
                </nav>
            </div>


            <main class="main col">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}>
                    <strong>{{message}}</strong>
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                {% endfor %}
                {% endif %}

                <!-- Funciones -->
                {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                <button class="btn btn-primary mb-5" data-target="#modal_agregar_usuario" data-toggle="modal"
                    type="button">Agregar Usuario</button>
                {% endif %}
                <!-- Listar Usuarios -->
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered dt-responsive nowrap" style="width:100%"
                            id="lista_de_usuario_perfil">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Perfil</th>
                                    <th>Correo</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Perfil</th>
                                    <th>Correo</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Modal de Creacion de Usuario -->
    <div aria-hidden="true" aria-labelledby="modal_agregar_usuario" class="modal fade" id="modal_agregar_usuario"
        role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Agregar nuevo usuario</h5>
                    <button aria-label="Cerrar" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'crear_usuario' %}" id="form_agregausuario" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="nombre">Nombre</label>
                                <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" required
                                    type="text">
                            </div>
                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="apellido">Apellido</label>
                                <input class="form-control" id="apellido" name="apellido" placeholder="Apellido"
                                    required type="text">
                            </div>
                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="email">Correo</label>
                                <input class="form-control" id="email" name="email" placeholder="example@example.com"
                                    required type="email">
                            </div>

                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="contrasenia">Contraseña</label>
                                <input class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña"
                                    required type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 my-2 px-sm-4">
                                <label class="mb-3">Perfil</label><br>
                                <div class="custom-control custom-radio custom-control-inline mr-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioAdmin" name="perfil"
                                        type="radio" value="Administrador">
                                    <label class="custom-control-label" for="radioUsuarioAdmin">Administrador</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mx-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioEncuestador" name="perfil"
                                        type="radio" value="Encuestador">
                                    <label class="custom-control-label"
                                        for="radioUsuarioEncuestador">Encuestador</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mx-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioSupervisor" name="perfil"
                                        type="radio" value="Supervisor">
                                    <label class="custom-control-label" for="radioUsuarioSupervisor">Supervisor</label>
                                </div>
                                <label class="error d-block mt-2" generated="true"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de modificar Usuario -->
    <div aria-hidden="true" aria-labelledby="modal_modificar_usuario" class="modal fade" id="modal_modificar_usuario"
        role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Modificar usuario</h5>
                    <button aria-label="Cerrar" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'modificar_usuario' %}" id="form_modificar_usuario" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_usuario" id="id_usuario" value="">
                        <div class="form-group row">
                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="nombre_modificar">Nombre</label>
                                <input class="form-control" id="nombre_modificar" name="nombre_modificar"
                                    placeholder="Nombre" required type="text">
                            </div>
                            <div class="col-12 col-lg-6 my-2 px-sm-4">
                                <label for="apellido_modificar">Apellido</label>
                                <input class="form-control" id="apellido_modificar" name="apellido_modificar"
                                    placeholder="Apellido" required type="text">
                            </div>
                            <div class="col-12 my-2 px-sm-4">
                                <label for="email_modificar">Correo</label>
                                <input class="form-control" id="email_modificar" name="email_modificar"
                                    placeholder="example@example.com" required type="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 my-2 px-sm-4">
                                <label class="mb-3">Perfil</label><br>
                                <div class="custom-control custom-radio custom-control-inline mr-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioAdminMod" name="perfil"
                                        type="radio" value="Administrador">
                                    <label class="custom-control-label" for="radioUsuarioAdminMod">Administrador</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mx-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioEncuestadorMod" name="perfil"
                                        type="radio" value="Encuestador">
                                    <label class="custom-control-label"
                                        for="radioUsuarioEncuestadorMod">Encuestador</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mx-xl-3">
                                    <input class="custom-control-input" id="radioUsuarioSupervisorMod" name="perfil"
                                        type="radio" value="Supervisor">
                                    <label class="custom-control-label"
                                        for="radioUsuarioSupervisorMod">Supervisor</label>
                                </div>
                                <label class="error d-block mt-2" generated="true"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_confirmar_eliminar" tabindex="-1" role="dialog"
        aria-labelledby="Label_confirmar_eliminar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_confirmar_eliminar">¿Eliminar Usuario?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="EliminarUsuario()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_cerrar_sesion">¿Cerrar Sesion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/datatables.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/responsive.bootstrap4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.min.js' %} " type="text/javascript"></script>
    <script src="{% static 'js/index.js' %} " type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var table = $('#lista_de_usuario_perfil').DataTable({
                initComplete: function () {
                    this.api().columns([0, 1, 2, 3]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                serverSide: true,
                ajax: "/api/perfiles_usuarios/?format=datatables",
                columns: [
                    { "data": "usuario.first_name", "searchable": true },
                    { "data": "usuario.last_name", "searchable": true },
                    { "data": "descripcion_perfil", "searchable": true },
                    { "data": "usuario.email", "searchable": true },
                    { "data": "usuario", "searchable": true },
                ],
                ordering: true,
                info: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                responsive: true,
                columnDefs: [{
                    targets: 4,
                    className: "desktop",
                    render: function (data, type, row, meta) {
                        return '<a class="badge badge-primary" data-toggle="modal" data-target="#modal_modificar_usuario" href="#" onclick="return cargarDetalleUsuario(' + row.id + ');">Modificar</a> <a class="badge badge-danger" onclick="return cargarDetalleUsuario(' + row.id + ');" data-toggle="modal" data-target="#modal_confirmar_eliminar" href="#">Eliminar</a>';
                    }
                }],
                paging: true,
                fixedColumns: true,
            });

        });
        function cargarDetalleUsuario(pk) {
            var perfil = null;

            $.ajax({
                url: "/api/perfiles_usuarios/" + pk,
                type: 'GET',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log(data)
                    $("#id_usuario").val(data.id);
                    $("#nombre_modificar").val(data.usuario.first_name);
                    $("#apellido_modificar").val(data.usuario.last_name);
                    $("#email_modificar").val(data.usuario.email);

                    perfil = data.descripcion_perfil;
                    if (perfil == "Administrador") {
                        $("#radioUsuarioAdminMod").prop("checked", true);
                    } if (perfil == "Supervisor") {
                        $("#radioUsuarioSupervisorMod").prop("checked", true);
                    } if (perfil == "Encuestador") {
                        $("#radioUsuarioEncuestadorMod").prop("checked", true);
                    }

                }
            })
        }

        function EliminarUsuario() {
            var id_usuario = $("#id_usuario").val()
            window.location.replace("usuarios/eliminar/" + id_usuario);
        }

        function CerrarSesion() {
            window.location.replace("{% url 'cerrar_sesion' %}");
        }

    </script>
</body>

</html>