{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <title>Iniciar Sesion</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}>
                    <strong>{{message}}</strong>
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h3 class="mb-3 mt-4 h3">Inicio de sesión</h3>
            </div>
            <!-- Login Form -->
            <form method="POST" action="{% url 'logearse' %}" id="form_login" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="usuario" class="fadeIn fourth" name="usuario" placeholder="Correo electronico">
                <label for="usuario" generated="true" class="error d-block"></label>

                <input type="password" id="contrasenia" class="fadeIn fourth mt-2" name="contrasenia"
                    placeholder="Contraseña">
                <label for="contrasenia" generated="true" class="error d-block"></label>

                <input type="submit" class="fadeIn fourth mt-5" value="Iniciar Sesion">
            </form>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %} "></script>
    <script src="{% static 'js/login.js' %} "></script>

</body>

</html>