{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <title>Encuestas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Barra lateral o Menú -->
            <div class="barra-lateral col-12 col-md-auto">
                <div class="logo px-4">
                </div>
                <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido Admin</h5>
                    {% else %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido: {{user.first_name}}</h5>
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize h6">
                        {{perfil_usuario.descripcion_perfil}}</h5>
                    {% endif %}
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <a href="{% url 'index' %}"><i class="fas fa-users fa-lg pr-xl-4"></i><span>Usuarios</span></a>
                    {% endif %}
                    <a href="{% url 'encuestas' %}"><i
                            class="fas fa-address-book fa-lg pr-xl-4"></i><span>Encuestas</span></a>
                    <a href="{% url 'preguntas' %}" class="activo"><i
                            class="far fa-question-circle fa-lg pr-xl-4"></i><span>Preguntas</span></a>
                    <a href="{% url 'encuestas_realizadas' %}"><i
                            class="fas fa-clipboard-list fa-lg pr-xl-4"></i><span>Encuestas Completadas</span></a>
                    <a href="" data-toggle="modal" data-target="#modal_cerrar_sesion"><i
                            class="fas fa-sign-out-alt fa-lg pr-xl-4"></i><span>Salir</span></a>
                </nav>
            </div>


            <main class="main col">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}>
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                {% endfor %}
                {% endif %}

                <!-- Funciones -->
                {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                <button type="button" class="btn btn-primary mb-5" data-toggle="modal"
                    data-target="#modal_crear_pregunta">Agregar Pregunta
                </button>
                {% endif %}
                <!-- Listar Usuarios -->
                <div class="card">
                    <div class="card-body">
                        <table id="tabla_usuarios" class="table table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Pregunta</th>
                                    <th>Encuesta</th>
                                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                                    <th>Opciones</th>
                                    {% endif %}

                                </tr>
                            </thead>
                            <tbody>
                                {% for p in lista_preguntas %}
                                <tr>
                                    <td>{{p.desc_pregunta}}</td>
                                    <td>{{p.encuesta.titulo_encuesta}}</td>
                                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}

                                    <td>
                                        <a data-toggle="modal" href="#modal_modificar_pregunta"
                                            onclick="cargarIdPregunta({{p.pk}})"
                                            class="badge badge-primary">Modificar</a>

                                        <a href="preguntas/eliminar/{{p.pk}}" class="badge badge-danger">Eliminar</a>
                                    </td>
                                    {% endif %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Modal de Creacion de pregunta -->
    <div class="modal fade" id="modal_crear_pregunta" tabindex="-1" role="dialog" aria-labelledby="modal_crear_pregunta"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Agregar pregunta</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form_agregar_pregunta" action="{% url 'crear_pregunta' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-12 my-2 px-sm-4">
                                <label for="input_agregar_pregunta">Pregunta</label>
                                <textarea class="form-control" rows="5" name="input_agregar_pregunta"
                                    id="input_agregar_pregunta" required></textarea>
                            </div>
                            <div class="col-12 my-2 px-sm-4">
                                <label for="input_pregunta_encuesta">Encuesta</label>
                                <select class="form-control" name="input_pregunta_encuesta" id="input_pregunta_encuesta"
                                    required>
                                    {% for encuesta in lista_encuestas %}
                                    <option value={{encuesta.pk}}>{{encuesta.titulo_encuesta}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de modificar pregunta -->
    <div class="modal fade" id="modal_modificar_pregunta" tabindex="-1" role="dialog"
        aria-labelledby="modal_modificar_pregunta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="">Modificar pregunta</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'modificar_pregunta' %}" id="form_modificar_pregunta" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_pregunta" id="id_pregunta" value="">
                        <div class="form-group row">
                            <div class="col-12">
                                <input required type="text" class="form-control" placeholder="Pregunta"
                                    name="pregunta_modificar" id="pregunta_modificar" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_cerrar_sesion">¿Cerrar Sesion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/index.js' %} "></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //Configurar DataTable de Usuarios
            $('#tabla_usuarios').DataTable({
                "paging": true,
                "responsive": true,
                "ordering": true,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            })
        });

        function cargarIdPregunta(id_pregunta) {
            $("#id_pregunta").val(id_pregunta);
            $.ajax({
                url: "api/preguntas/" + id_pregunta,
                type: 'GET',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log(data)
                    $("#pregunta_modificar").val(data.desc_pregunta)
                }
            })
        }

        function CerrarSesion() {
            window.location.replace("{% url 'cerrar_sesion' %}");
        }
    </script>

</body>

</html>