{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <title>Contestar Encuesta</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Barra lateral o Menú -->
            <div class="barra-lateral col-12 col-md-auto">
                <div class="logo px-4">
                </div>
                <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido Admin</h5>
                    {% else %}
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize">Bienvenido: {{user.first_name}}</h5>
                    <h5 class="d-none d-xl-block p-xl-3 text-capitalize h6">
                        {{perfil_usuario.descripcion_perfil}}</h5>
                    {% endif %}
                    {% if perfil_usuario.perfil == 'Administrador' or user.is_superuser %}
                    <a href="{% url 'index' %}"><i class="fas fa-users fa-lg pr-xl-4"></i><span>Usuarios</span></a>
                    {% endif %}
                    <a href="{% url 'encuestas' %}"><i
                            class="fas fa-address-book fa-lg pr-xl-4"></i><span>Encuestas</span></a>
                    <a href="{% url 'preguntas' %}"><i
                            class="far fa-question-circle fa-lg pr-xl-4"></i><span>Preguntas</span></a>
                    <a href="{% url 'encuestas_realizadas' %}"><i
                            class="fas fa-clipboard-list fa-lg pr-xl-4"></i><span>Encuestas Completadas</span></a>
                    <a href="" data-toggle="modal" data-target="#modal_cerrar_sesion"><i
                            class="fas fa-sign-out-alt fa-lg pr-xl-4"></i><span>Salir</span></a>
                </nav>
            </div>

            <main class="main col">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages %}
                    <p {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                        id="alertsuccess" {% endif %}>
                        <strong>{{message}}</strong>
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="col-xl-12 mb-2 px-sm-5">
                    <div class="card bg-light mb-3">
                        <div class="card-header bg-primary">
                            <p class="m-0 text-light h6">Selecciona la encuesta a realizar</p>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'responder_encuesta' %}" method="post" id="form_crear_encuesta">
                                {% csrf_token %}

                                <select class="form-control" name="input_encuesta" id="input_encuesta" required>
                                    {% for encuesta in lista_encuestas %}
                                    <option value={{encuesta.pk}}>{{encuesta.titulo_encuesta}}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-primary float-right mt-3" data-toggle="modal"
                                    data-target="#modal_confirmar_encuesta">Confirmar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal Confirmar -->
    <div class="modal fade" id="modal_confirmar_encuesta" tabindex="-1" role="dialog"
        aria-labelledby="Label_confirmar_encuesta" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label_confirmar_encuesta">¿Crear Encuesta?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnCrearEncuesta">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label_cerrar_sesion">¿Cerrar Sesion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary"
                        id="btnEliminarUsuario">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/responsive.bootstrap4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.min.js' %} " type="text/javascript"></script>
    <script src="{% static 'js/index.js' %} " type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#btnCrearEncuesta").click(function () {
                $("#form_crear_encuesta").submit();
            });
        });

        function CerrarSesion() {
            window.location.replace("{% url 'cerrar_sesion' %}");
        }
    </script>
</body>

</html>